.site-header{
    background-color:#d6cfcf;
    color:black;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%; 
    align-self: center;
    box-shadow: #776c6c 2px 5px 5px;
    
}

.course-link{
    color:black;
}


body{
    margin: 0;
}